<?xml version="1.0" encoding="utf-8"?>
<BaseCfg xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppVerXmlUrl>https://gitee.com/miuser00/md-fileloader/releases/download/1000/upgrade.xml</AppVerXmlUrl>
  <UpgradeFolder>uppack</UpgradeFolder>
  <AppFile>bin/MDLoader.exe</AppFile>
  <Debug>false</Debug>
  <AppTitle>MDLoader</AppTitle>
</BaseCfg>